
  <div class="container-fluid fill">
    <div class="row">
      <div class="col-xs-12 button-center">
        <button class="mid-hor " ng-click="search()">Encontrar</button>
      </div>
    </div>
  </div>
  <div class="container fill">
    <div class="row">
      <div class="col-xs-12  text-center">
        <button class="link-button text-center  " id="filtro"  ng-click="toggleFilters()">Filtros</button>
      </div>

      <div class="col-xs-12 text-center" id="filters" ng-show="filtrosVisibles">

        <div class="col-xs-12 divp">
            <label for="usr" class="divtext" > Distancia:</label>
            <input type="number" min="1" class="form-control button-filtros " id="usr" ng-model="busqueda.distancia">
        </div>

        <div class="col-xs-12 divp">
            <label for="sel1" class="divtext" >Costo: </label>
            <select class="form-control button-filtros " id="sel1" ng-model="busqueda.costo">
              <option>$</option>
              <option>$$</option>
              <option>$$$</option>
              <option>Todos</option>
            </select>
        </div>

        <div class="col-xs-12 divp">
          <label for="vegfriendly" class="divtext"> Vegano:</label>
            <div id="vegfriendly">
              <label>
                <input type="checkbox"  class="divtext" id="vegfriendly" ng-model="busqueda.vegfriendly">
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
