
    <div class=" col-xs-12">
      <h4 class="nombre col-xs-12 titulo" style="text-align:center">
      <i class="material-icons" style="font-size: 35px;">restaurant</i>
      Restaurantes</h4>
  </div>
<div id="contenedor" class="container-fluid fondo" style="display:flex;" >
  <div class="row">
    <div ng-repeat="res in restaurants" class="col-xs-4" style="margin-top:10px;">
      <a ui-sref="restaurant_detail({id:res.id})" >
        <div class="mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                      <img src="http://placehold.it/350x150">
                    </div>
                    <div class="mdl-card__title">
                       <h4 class="mdl-card__title-text">[[res.nombre]]</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <span class="mdl-typography--font-light mdl-typography--subhead">[[res.descripcion]]</span>
                    </div>
                    <div class="mdl-card__actions">
                      <span class="last" uib-rating ng-model="res.avg" max="5"  read-only="true" aria-labelledby="default-rating"></span>
                    </div>
                  </div>
      </a>
      </div>
    </div>
</div>

