<div class="container-fluid fondo">
  <toaster-container></toaster-container>
  <div class="row restaurante1">
    <div class="col-xs-12 title">[[restaurant_info.nombre]]</div>
  </div>
  <div class="row restaurante2">
    <div class="col-xs-6">
      [[restaurant_info.descripcion]]
    </div>
    <div class="col-xs-6">
      <span uib-rating ng-model="rest.rate" max="max"  read-only="true" aria-labelledby="default-rating"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ng-map default-style="false"></ng-map>
    </div>
  </div>
  <div ng-show="userLogged">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" ng-click="nuevaResena()"class="btn btn-primary btn-block">Escribir Resena!</button>
    </div>
  </div>
    <div class="animate-show" ng-show="onCourse">
    <span uib-rating ng-model="rate" max="max" titles="['one','two','three','four', 'five']" aria-labelledby="default-rating"></span>
    <div class="form-group">
      <label for="comment">Comentario</label>
      <textarea class="form-control" rows="2" ng-model="reviewComment"></textarea>
      <button type="button" ng-click="sendResena()" class="btn btn-warning">Enviar</button>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Calificacion</th>
        <th>Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="review in review_list">
        <td>[[review.user_name]]</td>
        <td><span uib-rating ng-model="review.calificacion" max="max"  read-only="true" aria-labelledby="default-rating"></span></td>
        <td>[[review.comentario]]</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>
