<div class="container-fluid fondo">
  <toaster-container></toaster-container>
  <div class="row" style="margin-top:10px; padd">
    <div class="titulo" style="text-align:center">[[restaurant_info.nombre]]</div>
  </div>
  <br>
  <br>
  <div ng-if="userLogged">
    <div class="col-xs-6" style="text-align:center">
    <span uib-rating ng-model="rest.rate" max="max"  read-only="true" aria-labelledby="default-rating"></span>
    </div>
    <div class="col-xs-6" style="text-align:center">
        <i ng-if="!userFavorite" ng-click="favoriteChange()" class="material-icons" style="font-size: 20px;" >favorite_border</i>
        <i ng-if="userFavorite" ng-click="favoriteChange()" class="material-icons" style="font-size: 20px;" >favorite</i>
    </div>
  </div>
  <div ng-if="!userLogged">
    <div class="col-xs-12" style="text-align:center">
    <span uib-rating ng-model="rest.rate" max="max"  read-only="true" aria-labelledby="default-rating"></span>
    </div>
  </div>
  <br>
  <br>
  <div class="rowdesc">
    <div class="col-xs-12">
      <p class="desc" style="text-align:center">
        [[restaurant_info.descripcion]]
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ng-map default-style="false"></ng-map>
    </div>
  </div>
  <div ng-show="userLogged">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" ng-click="nuevaResena()"class="btn btn-primary btn-block resena">Escribir Resena <i class="material-icons" >rate_review</i></button>
    </div>
  </div>
    <div class="animate-show" ng-show="onCourse">
    <span uib-rating ng-model="rate" max="max" titles="['one','two','three','four', 'five']" aria-labelledby="default-rating"></span>
    <div class="form-group boton">
      <label for="comment">Comentario</label>
      <textarea class="form-control" rows="2" ng-model="reviewComment"></textarea>
      <button type="button" ng-click="sendResena()" class="btn btn-warning boton">Enviar</button>
    </div>
    </div>
  </div>
    <br>
  <table class="table table-hover ">
    <thead>
      <tr class="tit_tabla">
        <th>Usuario</th>
        <th>Calificacion</th>
        <th>Comentario</th>
      </tr>
    </thead>
      <tr class="texto" ng-repeat="review in review_list">
        <td>[[review.user_name]]</td>
        <td><span uib-rating ng-model="review.calificacion" max="max"  read-only="true" aria-labelledby="default-rating"></span></td>
        <td>[[review.comentario]]</td>
      </tr>
  </table>
    </div>
  </div>
</div>
