<div id="contenedor" class="container-fluid fondo">
      <div id="1" class=" titulo">
      &nbsp;
        Nombre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Descripcion
      </div>
    <div  ng-repeat="res in restaurants">
      <a ui-sref="restaurant_detail({id:res.id})" class="links">
      <div class="col-xs-4">
        [[res.nombre]]
      </div>
      <div class="col-xs-6">
        [[res.descripcion]]
      </div>
      <div class="col-xs-2">
        <span uib-rating ng-model="res.avg" max="5"  read-only="true" aria-labelledby="default-rating"></span></td>
      </div>
      </a>
    </div></script>
</div>
