.fondo{
    height: 100%;
    width: 100%;
    background-color: #C7FFD3;
    padding-left: 0px;
    padding-right: 0px;
}

.titulo{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    height: 50px;
    text-size-adjust: 100%;
    width: 1000px;
    column-rule-color: rgb(52, 73, 94);
    perspective-origin: 352.5px 22px;
    transform-origin: 352.5px 22px;
    border: 5px none rgb(52, 73, 94);
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
    outline: rgb(52, 73, 94) none 0px;
}

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.Img{
	  background-size:contain;
	  	  z-index: 9999;
	  position: relative;
	    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
	  	  					-webkit-transition:cubic-bezier(.34,.43,0,1.02) 0.2s;
		-moz-transition:cubic-bezier(.34,.43,0,1.02) 0.2s;
		transition:cubic-bezier(.34,.43,0,1.02) 0.2s;
			  box-shadow: 0px 0px 0px 2pt transparent;
	  border: 0px solid #FFF;
	  margin: auto;

	  	width:200px;
	height:200px;
}

.nombre{
    color: rgb(0, 0, 0);
    column-rule-color: rgb(52, 73, 94);
    perspective-origin: 352.5px 22px;
    transform-origin: 352.5px 22px;
    border: 5px none rgb(52, 73, 94);
    font: normal normal bold normal 40px / 44px Lato, Helvetica, Arial, sans-serif;
    outline: rgb(52, 73, 94) none 0px;
}

.titulos{
    color: rgb(0, 0, 0);
    column-rule-color: rgb(100, 73, 94);
    perspective-origin: 352.5px 22px;
    transform-origin: 352.5px 22px;
    border: 5px none rgb(52, 73, 94);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
    outline: rgb(52, 73, 94) none 0px;
}

.perfil{
	padding-bottom: 50px;
}

.titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;

}

.tit_tabla {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.texto {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.navbar{
  margin-bottom: 0px !important;
}

.navbar-inverse{
  background-color: #FF9B91;
  border-color: #FF9B91;
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.body > * {
  font-family: 'Roboto', sans-serif !important
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-text {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.cabecera {
  margin-top: 25px;
}

.mdl-card {
  width: 290px;
  height: 350px;
  margin-top:10px;
  margin-bottom:40px;
  margin-left: 10px;
  margin-right: 10px;
}

.rest {
    padding-right: 30px;
    padding-left: 10px;
}

#contenedor{
   overflow:hidden;
   width: 100%;
}
