
.links{
    box-sizing: border-box;
    color: rgb(39, 107, 235);

    float: left;
    height: 60px;
    text-decoration: none;
    text-size-adjust: 100%;
    width: 1300px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 43.8906px 30px;
    transform-origin: 43.8906px 30px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 20px / 20px "Helvetica Neue", "Open Sans", Arial, sans-serif;
    margin: 5px 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 15px;
}

.titulo{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    height: 50px;
    column-rule-color: rgb(52, 73, 94);
    perspective-origin: 352.5px 22px;
    transform-origin: 352.5px 22px;
  font-size: 44px;
  font-family: 'Roboto', sans-serif;
    outline: rgb(52, 73, 94) none 0px;
}

.rest{
margin:5px;
}


#contenedor{
   overflow:hidden;
}

.last{
  margin-left: 8px;
}

.fondo{
    height: 100%;
    width: 100%;
    background-color: #C7FFD3;
    padding-left: 0px;
    padding-right: 0px;
}

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.mdl-card {
  width: 290px;
  height: 300px;
  margin-top:10px;
  margin-bottom:40px;
  margin-left: 10px;
  margin-right: 10px;
}

.rest {
    padding-right: 30px;
    padding-left: 70px;
}
.navbar{
  margin-bottom: 0px !important;
}

.navbar-inverse{
  background-color: #FF9B91;
  border-color: #FF9B91;
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.body > * {
  font-family: 'Roboto', sans-serif !important
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-text {
  color: white;
  font-family: 'Roboto', sans-serif;

}
